.add {
  padding: 20px 0;
  button {
    background-color: #e4a5c5;
    border: 0;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    outline: 0;
  }
  input {
    margin: 0 30px 0 20px;
    height: 35px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #da7777;
    outline: 0;
  }
}
